<div class="visual">
  <div class="visual_text">
  <h1>The Oracle of Blockchain</h1>
  <p>OASISBloc is the ultimate general purpose platform for<br> disruptive data sharing and transactions<br> in the real business world</p>
  <!-- 1018오픈 -->
  <div class="sns">
    <a href="https://www.facebook.com/OASISBloc-355025675237938/" target="_blank"><img src="/assets/img/face.png" alt="facebook"></a>
    <a href="https://www.youtube.com/channel/UCBddUGCADrH0zEJxyyNU-TA" target="_blank"><img src="/assets/img/youtube.png" alt="youtube"></a>
  </div> 
  <!-- //1018오픈 -->
</div>
</div>
<div class="outline">
<div class="wrapping"></div>
<div class="ham">
  <div class="line-btn-wrap">
    <span class="line-btn">
        <span></span>
        <span></span>
        <span></span>
    </span>
  </div>   
</div>
<!-- Top content -->
<div id ="top-content" class="top-content">
  <nav class="navbar navbar-inverse navbar-fixed-top navbar-no-bg" role="navigation">
    <div class="nav-wrap">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"></a>
      </div>
         
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="top-navbar-1">
        <ul class="nav navbar-nav navbar-Nright">
            <li><a class="scroll-link nav-a-01" href="#about">ABOUT</a></li>
            <li><a class="scroll-link nav-a-02" href="#platform">PLATFORM</a></li>
            <li><a class="scroll-link nav-a-03" href="#tech">TECHNOLOGY</a></li>
            <li class="pa0"><a class="scroll-link nav-a-04" href="#plan">PLAN</a></li>
        </ul>
              
      </div>
    </div>
  </nav>
</div>

<div class="video">
  <div class="img-video">
    <img src="/assets/img/video.png" alt="">   
  </div>
 <!-- 1018오픈 -->
  <div class="youtube">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/r1oxH78Z1rs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <!-- //1018오픈 -->
</div>

  <!-- About -->
  <div id="about" class="about-container section-container">
    <h2><span class="thin">About</span> OASISBloc</h2>
    <h3>What we pursue</h3>
    <div class="pursue-contents">
      <div class="row row1">
        <ul>
          <li>Distributed <span class="yellow">value</span> and <span class="yellow">data</span> sharing and transaction platform across various domains</li>
          <li>Oriented platform for <span class="yellow">creating collaborative value</span> through participation of wide range of industrial domains and data connections between domains</li>
          <li><span class="yellow">Maximizing data transactions</span> not only for public data that is open to all users for free but also in incentive-based ecosystem</li>
        </ul>
      </div>
      <div class="row row2">
        <ul>
          <li>Ensure <span class="yellow">self-sustainability</span><br> through realization of token<br> economy that gives fair<br>rewards to all actors such as<br> <span class="yellow">participants</span><span class="yellow light"> and </span> </span><span class="yellow">contributors</span><br> of OASISBloc platform ecosystem</li>
          <li>All actors participate voluntarily to define <span class="yellow">self-corrective governance</span> by setting a rule in which the internal parameters of blockchain system can be operated in an optimized state</li>
          <li>Providing various token economy for <span class="yellow">vitalizing ecosystem</span></li>
        </ul>
      </div>
    </div>
    <h3>Alliance Ecosystem</h3>
    <div class="alli-contents">
      <img src="/assets/img/img_allian.png" alt="">
    </div>
  </div>
  <!-- platform -->
  <div id="platform" class="platform-container section-container">
    <h2><span class="thin">OASISBloc</span> Platform</h2>
    <h3>Features</h3>
    <div class="features-contents">
      <img src="/assets/img/features.png" alt="">
    </div>
    <h3>Architecture</h3>
    <div class="arch-contents">
      <img src="/assets/img/img_arch.png" alt="">
    </div>
    <h3>Role</h3>
    <div class="role">
      <img src="/assets/img/role.png" alt="">
    </div>
  </div>
  <!-- tech -->


  <!-- tech 추가 -->
  <div id="tech" class=" tech-container section-container">
    <h2><span class="thin">OASISBloc</span> Technology</h2>
    <h3>Blockchain based IoT security authentication</h3>
    <dl class="auth-map-row01">
      <dt>IoT-based device authentication solution using blockchain authentication</dt>
      <dd class="h4-sub-desc">- Technology applying blockchain P2P authentication algorithm to IoT -</dd>
      <dd class="auth-contents">
          <ul>
            <li>
              <img src="/assets/img/img_auth_01.png" alt="IoT device security">
              <div class="desc">IoT device security</div>
            </li>
            <li>
              <img src="/assets/img/img_auth_02.png" alt="IoT data integrated. Uses Big Data analysis">
              <div class="desc">IoT data integrated <br>Uses Big data analysis</div>
            </li>
            <li>
              <img src="/assets/img/img_auth_03.png" alt="E-currency payment between IoT devices">
              <div class="desc">E-currency payment<br>between IoT devices</div>
            </li>
            <li class="white-arrow">
              <img src="/assets/img/img_auth_04.png" alt="Certificate of patent.Patent number : 10 -1678795">
              <div class="desc">Certificate of patent<br>Patent number : 10 -1678795</div>
            </li>
          </ul>
      </dd>
    </dl>
    <dl class="auth-map-row02">
      <dt>Blockchain based IoT authentication and identification procedure</dt>
      <dd>
        <img src="/assets/img/auth_map_01.png" alt="Blockchain based IoT authentication and identification procedure">
      </dd>
    </dl>
    <h3 class="letspacing">Blockchain security using QRN(Quantum Random Number)</h3>
    <dl class="auth-map-row03">
      <dt>Blockchain core server & security method based on QRN</dt>
      <dd class="quantum-contents">
          <ul>
            <li>
              <img src="/assets/img/img_quantum_01.png" alt="Utilizing QRN as seeds for enhanced security">
              <div class="desc">Utilizing QRN as seeds<br>for enhanced security</div>
            </li>
            <li>
              <img src="/assets/img/img_quantum_02.png" alt="Easily provide security function for device, server etc">
              <div class="desc">Easily provide security  <br>function for device, server etc</div>
            </li>
            <li>
              <img src="/assets/img/img_quantum_03.png" alt="Able to build optimal security system">
              <div class="desc">Able to build<br>optimal security system</div>
            </li>
            <li class="white-arrow">
              <img src="/assets/img/img_quantum_04.png" alt="Certificate of patent. Patent number : 10 -1887964">
              <div class="desc">Certificate of patent<br>Patent number : 10 -1887964</div>
            </li>
          </ul>
      </dd>
    </dl>
    <dl class="auth-map-row04">
      <dt>quantum computing resistance blockchain </dt>
      <dd class="default">Provides a highly <span class="bold">reliable network</span> that is safe from pattern prediction and hacking</dd>
      <dd><img src="/assets/img/auth_map_02.png" alt=""></dd>
    </dl>
    <!-- //tech 추가 -->







    <h3>Interchain</h3>
    <div class="interchain-contents">
        <ul>
          <li>
            <img src="/assets/img/img_tech_01.png" alt="">
            <div class="desc">Connections between <br> different blockchains <span class="sub_desc">(Domain chain and other blockchains)</span></div>
          </li>
          <li>
            <img src="/assets/img/img_tech_02.png" alt="">
            <div class="desc">Value(Coin & token) <br>exchange between chains</div>
          </li>
          <li>
            <img src="/assets/img/img_tech_03.png" alt="">
            <div class="desc">Data exchange between<br>chains</div>
          </li>
        </ul>
    </div>
  </div>
  <!-- PLAN -->
  <div id="plan" class="plan-container section-container">
    <h2><span class="thin">OASISBloc</span> Plan</h2>
    <h3>Roadmap</h3>
    <div class="roadmap-contents">
        <img src="/assets/img/plan.png" alt="">
    </div>
  </div>        


<!-- Javascript -->
<script src="/assets/js/jquery-1.11.1.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/scripts.js"></script>

</div>
<footer>
<div class="inner_footer">
  <img class="footer_logo" src="/assets/img/footer_logo.png" alt=""> 
  <span class="copyright">© 2019 Foundation OASIS LTD. All Rights Reserved.</span>
  <span class="contact">Contact us : <a href="mailto:info@oasisbloc.com">info@oasisbloc.com</a></span>
</div>
</footer>
<div class="top"><a class="scroll-link" href="#top-content"><img src="/assets/img/top.png" alt=""></a></div>