<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
			<form id="change_pwd_form" name="change_pwd_form">
				<!-- Contents -->
				<div class="contents">
					<h1 class="h-tit">Password reset</h1>
					<section class="form-section">
						<div class="s-tit">Enter your registered email address.</div>
						<div class="form-row">
							<label class="fm-label" for="fogot_user_mail">Email</label>
							<div class="fm-input">
								<input id="fogot_user_mail" name="fogot_user_mail" type="text" placeholder="Enter your email address">
							</div>
						</div>
						<div class="btn-wrap">
                            <button type="button" class="btn confirm full" onclick="$('#change_pwd_form').submit()">Send</button>
						</div>
					</section>
				</div>
				<!-- //Contents -->
            </form>
            
    <!-- Modal -->
    <div id="sendPasswordModal" class="modal hide fade">
        <div class="modal-wrap">
            <div class="vcon v2"></div>
            <p class="md-tit"><strong>Password reset email has sent </strong></p>
            <p class="md-desc">The email will be valid for only 10 minutes.</p>
            <div class="btn-wrap">
                <button type="button" class="btn confirm small" onclick="location.href='/login'">Close</button>
            </div>
        </div>
    </div>
    <!-- //Modal -->

<script>
	$(function() {
        $("#fogot_user_mail").keypress(function(e) {
            if (e.which == 13) {
                $("#fogot_user_mail").blur();
                $('#change_pwd_form').submit();
            }
        });

		// 비밀번호 변경(메일 발송)
		$("#change_pwd_form").validate({
            rules: {
                fogot_user_mail: {
                    required: true,
                    email: true,
                    duplEmail: true
                }
            },
            messages: {
                fogot_user_mail: {
                    required: "Enter your email address.",
                    email: "Invalid email address. Please try again.",
                    duplEmail: "This email address is not registered. Please check again."
                }
            },
            highlight: function(element, errorClass) {
                if (errorClass == "error") {
                    $(element).parent().addClass("error");
                }
            },
            errorPlacement: function(err, el) {
                el.after(err);
                var errCls = el.attr("class");
                if (errCls == "error") {
                    $(el).parent().addClass("error");
                }
            },
            success: function(el) {
                var errCls = el.attr("class");
                $(el).parent().removeClass("error");
            },
            submitHandler: function (form) {
                $.ajax({
                    url: '/login/fogotPasswordAjax',
                    data: {'user_mail' : $("#fogot_user_mail").val()},
                    type: 'POST',
                    dataType: 'json',
                    success: function(data) {
                        if (data.result == 'OK') {
                            $("#sendPasswordModal").modal();
                        } else {
                            alert(data.result);
                        }
                    },
                    error: function(error) {
                        alert(error);
                    }
                });
            }
        });
    });

    $.validator.addMethod('duplEmail', function() {
        var result = false;
        $.ajax({
            async: false,
            cache: false,
            url: '/join/duplEmailChkAjax',
            data: {'email': $("#fogot_user_mail").val()},
            type: 'POST',
            dataType: 'json',
            success: function(data){
                result = data.result ? false : true;
            }
        });
        return result;
    });

</script>