<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
    
    <!-- Contents -->
    <form id="changePwdForm" name="changePwdForm" onsubmit="return false;">
        <input type="hidden" id="userUuid" value="<%= userUuid %>" />
        <input type="hidden" id="retryKey" value="<%= retryKey %>" />
        <div class="contents">
            <h1 class="h-tit">Enter a new password</h1>
            <section class="form-section">
                <div class="s-tit">Use 8~15 characters including letters and numbers.</div>
                <div class="form-row">
                    <label class="fm-label" for="new_pwd">New password</label>
                    <div class="fm-input">
                        <input id="new_pwd" name="new_pwd" type="password" placeholder="Enter new password">
                    </div>
                </div>
                <div class="form-row">
                    <label class="fm-label" for="new_pwd_ok">Repeat new password</label>
                    <div class="fm-input">
                        <input id="new_pwd_ok" name="new_pwd_ok" type="password" placeholder="Repeat password">
                    </div>
                </div>
                <div class="btn-wrap">
                    <button type="button" class="btn confirm full" onclick="$('#changePwdForm').submit()">Confirm</button>
                </div>
            </section>
        </div>
    </form>
    <!-- //Contents -->

<% if (result == 'OK') { %>

    <!-- Modal -->
    <div id="resetPasswordOKModal" class="modal hide fade"><!-- 적용시 hide fade 클래스 추가해야 안보입니다 class="modal hide fade" -->
        <div class="modal-wrap">
            <div class="vcon v4"></div>
            <p class="md-tit"><strong><span class="em">Your password has been reset.</span></strong></p>
            <div class="btn-wrap">
                <button type="button" class="btn confirm small" onclick="location.href='/login'">Confirm</button>
            </div>
        </div>
    </div>
    <!-- //Modal -->

    <script>
        $(function() {
            $("#new_pwd_ok").keypress(function(e) {
                if (e.which == 13) {
                    $("#new_pwd_ok").blur();
                    $('#changePwdForm').submit();
                }
            });

            $("#changePwdForm").validate({
                rules: {
                    new_pwd: {
                        required: true,
                        rangelength: [8, 15],
                        regPwd: true
                    }
                    , new_pwd_ok: {
                        required: true,
                        equalTo: '#new_pwd'
                    }
                },
                messages: {
                    new_pwd: {
                        required: "Enter new password.",
                        rangelength: $.validator.format("Password should be between {0}~{1} characters including letters and numbers."),
                        regPwd: "Password should be between 8~15 characters including letters and numbers."
                    }
                    , new_pwd_ok: {
                        required: "Enter new password.",
                        equalTo: "The passwords do not match. Please try again."
                    }
                },
                highlight: function(element, errorClass) {
                    if (errorClass == "error") {
                        $(element).parent().addClass("error");
                    }
                },
                errorPlacement: function(err, el) {
                    el.after(err);
                    var errCls = el.attr("class");
                    if (errCls == "error") {
                        $(el).parent().addClass("error");
                    }
                },
                success: function(el) {
                    var errCls = el.attr("class");
                    $(el).parent().removeClass("error");
                },
                submitHandler: function (form) {
                    $.ajax({
                        url: '/login/resetPasswordAjax',
                        data: {'newPwd': $("#new_pwd").val(), 'userUuid': $("#userUuid").val(), 'retryKey': $("#retryKey").val()}, 
                        type: 'POST',
                        dataType: 'json',
                        success: function(data){
                            if (data.result) {
                                $("#resetPasswordOKModal").modal();
                            } else {
                                alert(data.message);
                            }
                        }
                        , error: function(error) {
                            alert('Error occurred.');
                        }
                    });
                }
            });
        });

        $.validator.addMethod('regPwd', function(value, element) {
            var regPwd = /^.*(?=.*[0-9])(?=.*[a-zA-Z]).*$/;
            return regPwd.test(value);
        });
    </script>

<% } else { %>

    <!-- Modal -->
    <div id="resetPasswordExpireModal" class="modal hide fade">
        <div class="modal-wrap">
            <div class="vcon v4"></div>
            <p class="md-tit"><strong> Password reset email has expired</strong></p>
            <p class="md-desc">Please try again.</p>
            <div class="btn-wrap">
                <button type="button" class="btn confirm small" id="btnResetPasswordOK" onclick="location.href='/login'">Close</button>
            </div>
        </div>
    </div>
    <!-- //Modal -->

    <script>
        $(function() {
            $("#resetPasswordExpireModal").modal();
        });
    </script>

<% } %>