    <div class="container">
        <!-- Contents -->
		<div class="contents">
            <h1 class="page-tit">Privacy policy</h1>

            <div class="legal-section">
				
                <!-- <ul class="tabmenu" id="tabActive01">
                    <li id="policyTab" class="active"><a href="#policy" onclick="initTab('policy')">Privacy policy</a></li>
                    <li id="termsTab"><a href="#terms" onclick="initTab('terms')">Terms of use</a></li>
                </ul> -->
                <div class="tab-wrap" id="tabWrap01">
                    <!-- Privacy policy -->
                    <div class="tab-cont" id="policy">

                        <div class="version">
                            <label for="ver01">See previous version</label>
                            <div class="slt-wrap">
                                <select name="selectPolicy" id="selectPolicy" onchange="getPolicy('2')">
                                </select>
                            </div>
                        </div>
                        <div class="terms-wrap">
                            <div class="terms" id="policyContent">
                            </div>
                        </div>

                    </div>
                    <!-- //Privacy policy -->

                    <!-- Terms of use -->
                    <div class="tab-cont" id="terms">

                        <div class="version">
                            <label for="ver01">See previous version</label>
                            <div class="slt-wrap">
                                <select name="selectTerms" id="selectTerms" onchange="getPolicy('1')">
                                </select>
                            </div>
                        </div>
                        <div class="terms-wrap">
                            <div class="terms" id="termsContent">
                            </div>
                        </div>

                    </div>
                    <!-- //Terms of use -->
                </div>
                <script type="text/javascript">
                    //탭메뉴
                    tabActive('tabActive01');
                </script>

            </div>
    
        </div>
        <!-- //Contents -->
    </div>

<script>
    $(function() {
        $("header").addClass("sub-header");
        $("#mHeadMenu").text('Legal information');
        $("#countdown").remove();
        var type = '<%=type%>';
        initTab(type);
        $("[name='mMenu'] > li").click(function() {
            var menu = $(this).attr('name');
            if (menu != 'faq' && menu != 'news') {
                location.href = '/main?target=' + menu;
            }
        });
    });

    function initTab(type) {
        var termsType;
        if (type == "terms") {
            $("#terms").show();
            $("#termsTab").addClass("active");
            // $("[name='fTerms']").addClass("active");

            $("#policy").hide();
            $("#policyTab").removeClass("active");
            // $("[name='fPolicy']").removeClass("active");
            termsType = '1';
        } else {
            $("#policy").show();
            $("#policyTab").addClass("active");
            // $("[name='fPolicy']").addClass("active");

            $("#terms").hide();
            $("#termsTab").removeClass("active");
            // $("[name='fTerms']").removeClass("active");
            termsType = '2';
        }
        getPolicy(termsType);
    }

    function getPolicy(termsType) {
        var boardId = termsType == '1' ? $("#selectTerms option:selected").val() : $("#selectPolicy option:selected").val();
        $.ajax({
            url: '/policyData',
            data: {'termsType': termsType, 'boardId': boardId},
            type: 'POST',
            dataType: 'json',
            success: function(data){
                if (data.result) {
                    var verList = data.verList;
                    var policyData = data.policyData;
                    var selectHtml = "";
                    for (var i = 0; i < verList.length; i++) {
                        var boardIdVal = boardId == verList[i].board_id ? "selected" : "";
                        selectHtml += "<option value='" + verList[i].board_id + "' " + boardIdVal + ">" + verList[i].createDate + " (" + verList[i].terms_version + ")</option>";
                    }
                    if (termsType == '1') {
                        $("#selectTerms").html(selectHtml);
                        $("#termsContent").html(policyData.board_content);
                    } else {
                        $("#selectPolicy").html(selectHtml);
                        $("#policyContent").html(policyData.board_content);
                    }
                    headerFooterPosition(); // 회면 사이즈 재확인
                }
            }
            , error: function(error) {
                alert('Error occurred.');
            }
        });
    }
</script>