        <div class="law">
            <ul>
                <!-- <li name="fTerms"><a href="/mypage/termsnprivacy?type=terms">Terms &amp; conditions</a></li>
                <li name="fPolicy"><a href="/mypage/termsnprivacy?type=privacy">Privacy policy</a></li> -->
            </ul>
        </div>
        <div class="f-wrap">
            <div class="info">
                <img class="f-logo" src="/images/logo-footer.png" alt="OASISBloc">
                <div class="email"><a href="mailto:<%=config.supportEmail %>"><%=config.supportEmail %></a></div>
                <p class="copy">&copy; 2019 Foundation OASIS LTD. All Rights Reserved.</p>
            </div>
            <ul class="share">
                <!-- <li class="telegram"><a href="" target="_blank" title="New window">Telegram</a></li> -->
                <li class="facebook"><a href="https://www.facebook.com/OASISBloc-355025675237938/" target="_blank" title="New window">Facebook</a></li>
				<li class="youtube"><a href="https://www.youtube.com/channel/UCBddUGCADrH0zEJxyyNU-TA" target="_blank" title="New window">Youtube</a></li>
            </ul>
        </div>
