        <div class="inner">
			<p class="f-logo"><img src="/images/logo-footer.png" alt="OASISBloc"></p>
			<ul class="share">
				<!-- <li class="telegram"><a href="" target="_blank" title="New window">Telegram</a></li> -->
				<li class="facebook"><a href="https://www.facebook.com/OASISBloc-355025675237938/" target="_blank" title="New window">Facebook</a></li>
				<li class="youtube"><a href="https://www.youtube.com/channel/UCBddUGCADrH0zEJxyyNU-TA" target="_blank" title="New window">Youtube</a></li>
			</ul>
			<ul class="law">
				<li name="fPolicy"><a href="/termsnprivacy">Privacy policy</a></li>
				<!-- <li name="fTerms"><a href="/termsnprivacy?type=terms">Terms of use</a></li> -->
			</ul>
			<a href="mailto:<%=config.supportEmail %>" class="support">Contact us : <%=config.supportEmail %></a>
			<p class="copy">© 2019 Foundation OASIS LTD. All Rights Reserved.</p>
		</div>
