<div class="f-wrap">
    <div class="info">
        <div class="top">
            <ul class="law">
                <li><a href="/mypage/termsnprivacy?type=terms">Terms &amp; conditions</a></li>
                <li><a href="/mypage/termsnprivacy?type=privacy">Privacy policy</a></li>
            </ul>
            <a class="email" href="mailto:<%=config.supportEmail %>"><%=config.supportEmail %></a>
        </div>
        <div class="btm">
            <img class="f-logo" src="/images/logo-footer-mp.png" alt="OASISBloc">
            <p class="copy">&copy; 2019 Foundation OASIS LTD. All Rights Reserved.</p>
        </div>
    </div>
    <ul class="share">
        <!-- <li class="telegram"><a href="" target="_blank" title="New window">Telegram</a></li> -->
        <li class="facebook"><a href="https://www.facebook.com/SmartMedi-242881939703728/" target="_blank" title="New window">Facebook</a></li>
        <li class="youtube"><a href="https://www.youtube.com/channel/UCvMAnpCDi0uq9svmzqUYcJQ" target="_blank" title="New window">Youtube</a></li>
    </ul>
</div>
