<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 1012추가 -->
        <meta property="og:title" content="OASISBloc">
        <meta property="og:url" content="https://oasisbloc.io/">
        <meta property="og:image" content="https://oasisbloc.io/assets/img/thumbnail_oasis.png">
        <meta property="og:description" content="The ultimate precision medicine platform">
        <title>OASISBloc Official site</title>
        <!-- //1012추가 -->

        <!-- CSS -->
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,100,300,500">        
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <!-- <link rel="stylesheet" href="/assets/css/media-queries.css"> -->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="/assets/img/favicon.png">
    </head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128073279-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-128073279-1');
    </script>

<%- script %>
    <body>
        <%- body %>
    </body>

</html>